{% extends 'layout.html' %}

{% block body %}
<div class="row">
    <div class="col-md-2 col-md-offset-5">
    	<p>Loading Serie A</p>
    	<img src="static/img/ajax-loader.gif">
    </div>
</div>
<table class="table table-striped table-hover" id="serie_a">
	<thead>
		<th>Squadra serie a</th>
		<th>Partite senza pareggio</th>
	</thead>
	<tbody>
		
	</tbody>
</table>

{% endblock %}


{% block scripts %}
	<script>
		$.get('/api/pareggi/serie_a', function(data){
			data = JSON.parse(data)
			$.each(data, function(index, value){
				console.log(value.squadra);
				$('#serie_a tbody').append('<tr><td>'+value.squadra+'</td><td>'+value.x+'</td></tr>');
				$('.row p').text('Loading Premier League');
				$('#serie_a').css('visibility','visible');
			});
		});
		$.get('/api/pareggi/premier', function(data){
			data = JSON.parse(data)
			$('body').append('<table id="premier" class="table table-hover table-striped"><thead><th>Squadre Premier</th><th>Partite senza pareggio</th></thead><tbody></tbody></table>')
			$.each(data, function(index, value){
				console.log(value.squadra);
				$('#premier tbody').append('<tr><td>'+value.squadra+'</td><td>'+value.x+'</td></tr>');
				$('.row').hide();
				$('#premier').css('visibility','visible');
			});
		});
	</script>
{% endblock %}